<h1>Gestor de Proyectos</h1>
<form method="get" action="/projects/projects">
  
  <div id="create_project" class="form-group">
    <label for="name">Nombre proyecto</label>
    <input id="name" name="name" class="form-control" placeholder="Escriba el nombre del proyecto">
  </div>
  <br> 
  <div class="form-group">
    <label for="description">Descripción del proyecto</label>
    <input name="description" class="form-control" placeholder="Describa el proyecto">
  </div>
  <br> 
  
  <div class="form-group ">
    <label for="created_at">Fecha de inicio</label>
    <input id="created_at" name="created_at" class="form-control" placeholder="Ingrese fecha de inicio">
  </div>
  <br>
  <div class="form-group ">
    <label for="finish_date">Fecha de termino</label>
    <input id="finish_date" name="finish_date" class="form-control" placeholder="Ingrese fecha de termino">
  </div>
  <br>

  <label for="state">Estado</label>
  <select name="state" id="state">
    <option value="propuesta">Propuesta</option>
    <option value="progreso">Progreso</option>
    <option value="Terminado">Terminado</option>
  </select>
  <br>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>

 <%= link_to("Listado de proyectos", "/projects/projects") %>
